---
import Container from "./Container.astro";
const { title, description, imageUrl, link } = Astro.props;
---

<Container>
<div
  class="max-w-4xl mx-auto mt-10 p-8 bg-white dark:bg-gray-800 rounded-lg shadow-lg flex flex-col sm:flex-row items-center sm:items-start space-y-6 sm:space-y-0 sm:space-x-8
         border-2 border-[rgb(59,130,246)] hover:border-[rgb(96,165,250)] hover:shadow-[0_0_10px_rgb(96,165,250)] transition duration-300"
>
  <img
    src={imageUrl}
    alt={`thumbnail ${title}`}
    class="w-32 h-32 rounded-md object-cover flex-shrink-0"
  />
  <div class="flex flex-col flex-1">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-3">{title}</h2>
    <p class="text-gray-700 dark:text-gray-300 mb-6">{description}</p>
    <div>
      <a
        href={link}
        class="relative inline-flex h-11 items-center justify-center px-6 rounded-full bg-primary text-white font-semibold transition duration-300 hover:bg-primary-dark active:bg-primary-darker"
      >
        GET HERE
      </a>
    </div>
  </div>
</div>
</Container>
